name: CI - Docker Build

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        env:
          APP_SECRET: ${{ secrets.APP_SECRET }}
        run: docker build -t project7-app .
